{
	email {$ACME_EMAIL}
	{$CADDY_GLOBAL_OPTION}
}

{$CADDY_SITE_SCHEME:https}://{$NEXTCLOUD_FQDN} {
	encode gzip zstd
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "no-referrer"
	}
	reverse_proxy nextcloud:80
}

{$CADDY_SITE_SCHEME:https}://{$ONLYOFFICE_FQDN} {
	encode gzip zstd
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	reverse_proxy onlyoffice-documentserver:80
}
